<!doctype html>
<head>
    <title v-scope>
        Tetrahedron Music
    </title>
    <meta name="author" content="HappyTetrahedron">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script type="module" src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
</head>
<body>
    <div v-scope id="main-content">
        <div id="nav-button-div" :class="navExpanded ? 'expanded' : 'hidden'">
            <button @click="toggleNav" id="nav-button">
                <span v-if="navExpanded">✖</span>
                <span v-else>☰</span>
            </button>
        </div>
        <div id="transpose-button-div">
            <button @click="transposeDown" id="transpose-down" class="transpose">
                ▼
            </button>
            <span v-if="transposeIndex != 0" id="transpose-index">
                {{ transposeIndex }} 5th
            </span>
            <button @click="transposeUp" id="transpose-up" class="transpose">
                ▲
            </button>
        </div>
        <div :class="navExpanded ? 'expanded' : 'hidden'" id="navigation">
            <p v-for="song in songlist">
                <a @click="selectSong(song.path)">
                    <span v-if="song.title" class="nav-song-title">
                        {{song.title}}
                    </span>
                    <span v-else class="nav-song-path">
                        {{song.path}}
                    </span>
                </a>
            </p>
        </div>
        <div id="content">
            <div id="song" v-if="songLoaded">
                <h1 v-if="currentSong.metadata.title" class="song-title">
                    {{ currentSong.metadata.title }}
                </h1>
                <p v-if="currentSong.metadata.artist" class="song-artist">
                    {{ currentSong.metadata.artist }}
                </p>
                <div id="song-lines">
                    <div class="song-line" v-for="line in currentSong.content">
                        <h2 class="section" :id="'section' + line.index" v-if="line.type == 'section'">
                            {{ line.text }}
                        </h2>
                        <p class="comment" v-if="line.type == 'comment'">
                            {{ line.text }}
                        </p>
                        <p class="lyrics" v-if="line.type == 'lyrics'">
                            <span v-for="part in line.items">
                                {{ part.line }}
                            </span>
                        </p>
                        <p class="chords" v-if="line.type == 'chords'">
                            <span class="chord" v-for="part in line.items">
                                {{ getTransposedChord(part) }}
                            </span>
                        </p>
                        <p class="annotated" v-if="line.type == 'lyrics-annotated'">
                            <span v-for="part in line.items" :class="part.type == 'chord' ? 'chord' : 'lyric'"><template v-if="part.type == 'lyric'">{{ part.line }}</template><sup v-if="part.type == 'chord'">{{ getTransposedChord(part) }}</sup></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
