<!doctype html>
<head>
    <title v-scope>
        Tetrahedron Music
    </title>
    <meta name="author" content="HappyTetrahedron">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script type="module" src="/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Music&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
</head>
<body>
    <div v-scope id="main-content">
        <div id="control-button-div">
            <button @click="toggleChords" id="chords-toggle" class="chords-toggle" :class="{'hide-mobile': panelExpanded}">
                <span class="noto-symbols" v-if="showChords">🖹</span><span class="noto-music" v-else>𝄝</span>
            </button>
            <div id="transpose-button-div" v-if="showChords && (!connected || presenting)" :class="{'hide-mobile': panelExpanded}">
                <button @click="onTransposeDownPressed" id="transpose-down" class="transpose noto-symbols">
                    ▼
                </button>
                <span v-if="transposeIndex != 0" id="transpose-index">
                    {{ transposeIndex }} 5th
                </span>
                <button @click="onTransposeUpPressed" id="transpose-up" class="transpose noto-symbols">
                    ▲
                </button>
            </div>
            <div id="session-button-div" v-if="connected" :class="{'hide-mobile': panelExpanded}">
                <button @click="onFollowPressed" id="follow" class="session" :class="{'active': following}">
                    <span v-if="following">⏸</span><span v-else>⏵</span>
                </button>
            </div>
            <button @click="togglePanel" id="panel-button" class="hide-desktop noto-symbols">
                <span v-if="panelExpanded">✖</span>
                <span v-else>☰</span>
            </button>
        </div>
        <div :class="panelExpanded ? 'expanded' : 'hidden'" id="sidepanel">
            <div id="session">
                <div class="header">
                    <h2 v-if="connected">
                        Session {{ sessionId }}
                    </h2>
                </div>
                <form id="session-form" v-if="!connected" v-on:submit="connectSession" autocomplete="off">
                    <input id="session-id" v-model="sessionIdInput" placeholder="Session ID" autocomplete="off" />
                    <button id="session-connect" class="noto-symbols">▶</button>
                </form>
                <div id="session-qr"></div>
                <button @click="onPresentPressed" id="present" class="session" :class="{'active': presenting}">
                    <span v-if="presenting">stop presenting</span><span v-else>present</span>
                </button>
                <button @click="disconnectFromSession">
                    disconnect
                </a>
            </div>
            <div id="navigation">
                <p v-for="song in songlist">
                    <a @click="onSongTitlePressed(song.path)">
                        <span v-if="song.title" class="nav-song-title">
                            {{song.title}}
                        </span>
                        <span v-else class="nav-song-path">
                            {{song.path}}
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <div id="content">
            <div id="song" v-if="songLoaded">
                <h1 v-if="currentSong.metadata.title" class="song-title">
                    {{ currentSong.metadata.title }}
                </h1>
                <p v-if="currentSong.metadata.artist" class="song-artist">
                    {{ currentSong.metadata.artist }}
                </p>
                <div id="song-lines">
                    <div class="song-line" :class="{'chords': showChords, 'lyrics': !showChords}" v-for="line in currentSong.content">
                        <h2 class="section" :id="'section' + line.index" v-if="line.type == 'section'">
                            <a v-if="presenting" @click="onSectionDoubleClick('section' + line.index)">
                                ⇨
                            </a>
                            {{ line.text }}
                        </h2>
                        <p class="comment" v-if="line.type == 'comment'">
                            {{ line.text }}
                        </p>
                        <p class="lyrics" v-if="line.type == 'lyrics'">
                            <span v-for="part in line.items">
                                {{ part.line }}
                            </span>
                        </p>
                        <p class="chords" v-if="line.type == 'chords' && showChords">
                            <span class="chord" v-for="part in line.items">
                                {{ getTransposedChord(part) }}
                            </span>
                        </p>
                        <p class="comment" v-if="line.type == 'chords' && !showChords">
                            instrumental
                        </p>
                        <p class="annotated" v-if="line.type == 'lyrics-annotated'">
                            <span v-for="part in line.items" :class="part.type == 'chord' ? 'chord' : 'lyric'"><template v-if="part.type == 'lyric'">{{ part.line }}</template><sup v-if="part.type == 'chord' && showChords">{{ getTransposedChord(part) }}</sup></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
